/****************
 Common Style  
 ****************/

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* Font Family used: Poppins
 Font Weight: 400, 500, 700 */

header, section, footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 1160px;
}

.btn {
    padding: 8px 22px;
    background: #E02C6D;
    color: #fff;
    border: 2px solid #E02C6D;
    transition: .3s;
    display: inline-block;
}

.btn:hover {
    background: #fff;
    color: #E02C6D;
    transform: translateY(-4px);
    box-shadow: -3px 3px 0px #E02C6D;
}

/****************
    Header Style
 ****************/

header {
    background: #2D25A0;
    padding-top: 42px;
    padding-bottom: 86px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li a {
    margin-right: 36px;
    color: #fff;
    transition: .2s;
}

.main-nav ul li:hover a {
    color: #E02C6D;
    text-decoration: line-through;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 49px;
}

.header-slogan h1 {
    font-size: 64px;
    color: #fff;
    line-height: 80px;
}

.header-image {
    position: relative;
}

.header-image img.player {
    width: 100%;
    position: relative;
    transition: 0.4s all linear;
}

.header-image:hover img.player {
    transform: scale(1.04) rotateZ(3deg);
}

.header-image img.ball {
    width: 90px;
    position: absolute;
    left: 0;
    top: 21%;
    transition: 0.4s all ease-out 0.4s;
}

.header-image:hover img.ball {
    left: -150px;
    top: 0;
    transform: scale(.8) rotate(160deg);
    opacity: .75;
}

/****************
    Player Info Style
 ****************/

.player-info {
    padding: 70px 0;
}

.info-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.info-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: 0.2s all linear;
    padding: 15px;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.info-image {
    height: 288px;
    overflow: hidden;
}

.info-image img {
    width: 100%;
    transition: .2s all linear;
}

.info-card:hover .info-image img {
    transform: scale(1.2) rotateZ(-3deg);
}

.info-name {
    font-size: 28px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 5px;
}

.info-details {
    color: #6C6C6C;
    line-height: 26px;
    font-weight: 400;
}

/****************
    Results Style
 ****************/

.results {}

/****************
    Player Card Style
 ****************/

.player-card {}

/****************
    Call to action Style
 ****************/

.call-to-action {}

/****************
    Footer Style
 ****************/

footer {}